@model LibraryCatalog.Models.Author
@{
    ViewBag.Title = "Удалить";
}

<h3>Вы уверены, что хотите удалить это?</h3>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>Фамилия</dt>
        <dd>@Html.DisplayFor(model => model.Surname)</dd>
        <dt>Имя</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>Отчество</dt>
        <dd>@Html.DisplayFor(model => model.Patronymic)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>